# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
*.xml
*.iml

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
.idea/learnPython3.iml
.idea/misc.xml

# Can ignore specific files
.DS_Store
workspace.xml

# My configurations:
db.ini
deploy_key_rsa

